body {
  background-color: skyblue;
}

#house {
    position: relative;
    top: 150px;
    left: 425px;
    width: 500px;
    height: 400px;
    background-color: brown;
    border: 1px solid brown;
  }
  
  #chimney {
    top: -100px;
    left: 350px;
    position: absolute;
    height: 100px;
    width: 75px;
    background-color: rgb(207, 85, 85);
    border: 2px solid brown;
    z-index: -1;
  }
  
  #roof {
    position: absolute;
    top: 0;
    border-radius: 3px;
    height: 130px;
    width: 500px;
    background-color: burlywood;
    border: 1px solid burlywood;
  }

  #shingle-one {
    position: absolute;
    top: 25px;
    height: 5px;
    width: 500px;
    background-color:brown;
  }

  #shingle-two {
    position: absolute;
    top: 50px;
    height: 5px;
    width: 500px;
    background-color:brown;
  }
  
  #shingle-three {
    position: absolute;
    top: 75px;
    height: 5px;
    width: 500px;
    background-color:brown;
  }
  
  #shingle-four {
    position: absolute;
    top: 100px;
    height: 5px;
    width: 500px;
    background-color:brown;
  }

  #gutter {
    position: absolute;
    top: 115px;
    width: 496px;
    height: 15px;
    background-color: antiquewhite;
    border: 2px solid grey;
  }
   
  #window-1 {
    position: absolute;
    top: 200px;
    left: 45px;
    height: 90px;
    width: 100px;
    background-color: white;
    border: 4px solid burlywood;
    border-radius: 3px;
  }

  #track-one {
    position: absolute;
    top: 45px;
    height: 5px;
    width: 100px;
    background-color: goldenrod;
  }

  #up-track {
    position: absolute;
    left: 49px;
    height: 90px;
    width: 5px;
    background-color: goldenrod;
  }

  #track-two {
      position: absolute;
      top: 45px;
      height: 5px;
      width: 100px;
      background-color: goldenrod;
    }

    #up-track-two {
      position: absolute;
      left: 48px;
      height: 90px;
      width: 5px;
      background-color: goldenrod;
    }
  
  #window-2 {
    position: absolute;
    top: 200px;
    right: 45px;
    height: 90px;
    width: 100px;
    background-color: white;
    border: 4px solid burlywood;
    border-radius: 3px;
  }
  
  #door {
    position: absolute;
    left: 199px;
    bottom: 0px;
    height: 135px;
    width: 95px;
    background-color: burlywood;
    border: 4px solid brown;
  }

  #door-mat {
    position: absolute;
    width: 91px;
    height: 55px;
    background-color: rgb(179, 62, 8);
    border: 2px solid rgb(223, 78, 12);
  }

  #knob {
    position: absolute;
    top: 68px;
    right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
  }

  #grass {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: forestgreen;
    z-index: -1;
  }

  #mail-box {
    position: absolute;
    left: -400px;
    top: 20px;
    width: 100px;
    height: 75px;
    background-color: rgb(185, 91, 3);
    border: 3px solid rgb(165, 90, 39);
  }

  #flag {
    position: absolute;
    left: 20px;
    width: 25px;
    height: 15px;
    background-color: red;
  }

  #flag-two {
    position: absolute;
    width: 10px;
    height: 45px;
    background-color: red;
  }

  #post {
    position: absolute;
    bottom: -102px;
    left: 35px;
    width: 25px;
    height: 100px;
    background-color: silver;
  }

  #left-side-backyard {
    position: absolute;
    top: 250px;
    left: -425px;
    width: 425px;
    height: 125px;
    background-color:seagreen;
  }

  #left-side-fence {
    position: absolute;
    top: -125px;
    width: 425px;
    height: 125px;
    background-color:rgb(187, 132, 60);
  }

  .mark-one {
    position: absolute;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-two {
    position: absolute;
    left: 30px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-three {
    position: absolute;
    left: 60px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-four {
    position: absolute;
    left: 90px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-five {
    position: absolute;
    left: 120px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-six {
    position: absolute;
    left: 150px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-seven {
    position: absolute;
    left: 180px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-eight {
    position: absolute;
    left: 210px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-nine {
    position: absolute;
    left: 240px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-ten {
    position: absolute;
    left: 270px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-eleven {
    position: absolute;
    left: 300px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-twelve {
    position: absolute;
    left: 330px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-thirteen {
    position: absolute;
    left: 360px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  .mark-fourteen {
    position: absolute;
    left: 390px;
    height: 125px;
    width: 12px;
    background-color:rgb(148, 84, 41)
  }

  #right-side-backyard {
    position: absolute;
    top: 250px;
    right: -370px;
    width: 370px;
    height: 125px;
    background-color:seagreen;
  }

  #right-side-fence {
    position: absolute;
    top: -125px;
    width: 370px;
    height: 125px;
    background-color: rgb(187, 132, 60);
  }

  .marks-one {
    position: ;
    left: 20px;
    height: 125px;
    width: 370px;
    background-color:rgb(148, 84, 41)
  }

  #path {
    position: absolute;
    left: 627px;
    top: 150px;
    width: 95px;
    height: 245px;
    background-color: grey;
    border: 2px solid rgb(78, 88, 61);
  }

  #sun {
    position: absolute;
    top: 0;
    right: 50px;
    width: 107px;
    height: 98px;
    background-color: yellow;
    border-radius: 225px;
    z-index: -1;
  }

  #cloud-one {
    position: absolute;
    top: 65px;
    left: 45px;
    width: 135px;
    height: 60px;
    border-radius: 55px;
    background-color: whitesmoke;
  }

  #cloud-two {
    position: absolute;
    top: 45px;
    left: 375px;
    width: 135px;
    height: 60px;
    border-radius: 55px;
    background-color: whitesmoke;
  }

  #cloud-three {
    position: absolute;
    top: 80px;
    right: 225px;
    width: 135px;
    height: 60px;
    border-radius: 55px;
    background-color: whitesmoke;
  }

  #brick-one {
    position: absolute;
    top: 20px;
    width: 75px;
    height: 5px;
    background-color: black;
  }

  #brick-two {
    position: absolute;
    top: 40px;
    width: 75px;
    height: 5px;
    background-color: black;
  }

  #brick-three {
    position: absolute;
    top: 60px;
    width: 75px;
    height: 5px;
    background-color: black;
  }

  #brick-four{
    position: absolute;
    top: 80px;
    width: 75px;
    height: 5px;
    background-color: black;
  }